body{
background: #2EC4B6;

}
.ClassTittle {
	color : #2D3A3A;
	text-align: left
}
.ClassText {
	color : #2D3A3A;
	font-size: 100%
}

#Class1 {
	max-width:60%;
    max-height:60%;
    margin-left: auto;
    margin-right: auto;

	background: #B98389;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    padding: 2px 16px;
    text-align: center
}
.ClassImg
{
	
    width : 256px;
	height: 256px;
	display: block;
    margin: 0 auto;
}
.Likes{
	align-self: right;
}
#ClassButt {
	position: fixed; 
    right: 5px; 
    top: 85%; 
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#ClassButt:hover {background-color: #3e8e41}

#ClassButt:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.inputClass
{
    
  position: fixed; 
  left: 3%; 
  top: 90%; 
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
}
.inputClass:hover {background-color: #3e8e41}

.inputClass2
{

  position: fixed; 
  left: 3%; 
  top: 95%; 
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
}
.inputClass2:hover {background-color: #3e8e41}

.inputClass3
{
  position: fixed; 
  left: 3%; 
  top: 85%; 
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
}
.inputClass3:hover {background-color: #3e8e41}

#Liker
{
	display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    width: 8%;
}
#Liker:hover {background-color : #6BA292}
