body{
  background-size: 100%;
background-image: url('https://cdn.pixabay.com/photo/2018/12/04/09/19/cloudy-3855175_960_720.jpg');
background-color: #cadbc0;
background-attachment: fixed;
}
#Parody {
  color: #5f5761;
}
.ClassTittle {
	color : #2D3A3A;
	text-align: left
}
.ClassText {
	color : #2D3A3A;
	font-size: 100%
}

#Class1 {
	max-width:60%;
    max-height:60%;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
  background-image: url(https://www.unn.com.ua/uploads/news/2018/10/31/3c240ab00819fd49acd0e3cd7d9665664e4c7e7e.jpg);
	background-color: #B98389;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    padding: 2px 16px;
    border: none;
  border-radius: 15px;
  text-align: center
}
.ClassImg
{
	
    width : 256px;
	height: 256px;
	display: block;
    margin: 0 auto;
}

#ServerButt {
  position: fixed; 
    right: 5px; 
    top: 25%; 
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c9bccc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#ServerButt:hover {background-color: #877f8a}
#ServerButt:active {
  background-color: #877f8a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#FetchButt {
  position: fixed; 
    right: 5px; 
    top: 15%; 
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c9bccc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#FetchButt:hover {background-color: #877f8a}
#FetchButt:visited {background-color: red}
#FetchButt:active {
  background-color: #877f8a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#ClassButt {
	position: fixed; 
    right: 5px; 
    top: 5%; 
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c9bccc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#ClassButt:hover {background-color: #877f8a}

#ClassButt:active {
  background-color: #877f8a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.inputClass
{
    
  position: fixed; 
  left: 3%; 
  top: 5%; 
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c9bccc;
  padding: 15px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}
.inputClass:hover {background-color: #877f8a}
.inputClass::-webkit-input-placeholder {color:#2D3A3A;}
.inputClass:focus {box-shadow: 0 3px #666;}

.inputClass2
{

  position: fixed; 
  left: 3%; 
  top: 15%; 
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c9bccc;
  padding: 15px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}
.inputClass2:hover {background-color: #877f8a}
.inputClass2::-webkit-input-placeholder {color:#2D3A3A;}
.inputClass2:focus {box-shadow: 0 3px #666;}

.inputClass3
{
  position: fixed; 
  left: 3%; 
  top: 25%; 
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c9bccc;
  padding: 15px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}
.inputClass3:hover {background-color: #877f8a}
.inputClass3::-webkit-input-placeholder {color:#2D3A3A;}
.inputClass3:focus {box-shadow: 0 3px #666;}

#Liker
{
	display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    width: 8%;
    align-self: right;
}
#Liker:hover {background-color : #6BA292}

